// =====> Font: Mulish (400/600/700/800)
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap");

// =====> VARIABLES
$purple: rgba(118, 9, 156, 0.78);
$purple-hover: rgba(136, 62, 163, 0.78);
$light-purple: rgba(118, 9, 156, 0.15);

$gray: rgb(117, 115, 133);
$gray-bg: #f2f2f2;

$placeholder-clr: #757385;

// =====> GLOBALS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Mulish", sans-serif;
  color: black;
  text-align: center;
  background: url("../images/Ellipse\ 1.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 20% auto;
}

button {
  outline: none;
  border: none;
  font-weight: 800;
  border-radius: 10px;
}

h1,
h2 {
  font-weight: 800;
}

h1 {
  font-size: 30px;
}

button.primary {
  background-color: $purple;
  color: white;
  &:hover {
    background-color: $purple-hover;
  }
}

p.invitation {
  font-size: 24px;
  font-weight: 600;
  color: #757385;
}

.purple-line {
  position: relative;
  text-transform: uppercase;
}

.purple-line::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 65%;
  height: 4px;
  background-color: $purple;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  body {
    text-align: left;
  }
}
